// This file has the naming-conventions of code based properties
// easy to rewrite code here only later instead of re-writing it everywhere in project

$mobile: 431px;
$desktop: 1025px;
$global-font: 'Circular Std';
$global-background-color: white;
$text-primary: #000000;
$test-secondary: #191825;
$accent-color: #f85e9f;
$background-violet: #5d50c6;
$data-primary: #ff5722;
$h1-font-size: 3rem;
$h2-font-size: 2.5rem;
$p-line-height: 1.6;
