// This file has the naming-conventions of code based properties
// easy to rewrite code here only later instead of re-writing it everywhere in project

$mobile: 431px;
$desktop: 1025px;
$global-font: 'Circular Std';
$global-background-color: white;
$text-primary: #000000;
$text-secondary: #191825;
$p-text: #19182580;
$accent-color: #f85e9f;
$background-violet: #5d50c6;
$data-primary: #ff5722;
$font-primary: 'Circular Std', sans-serif;
$font-secondary: 'Inter', sans-serif;
