// This file has the naming-conventions of code based properties
// easy to rewrite code here only later instead of re-writing it everywhere in project

$max-screen-width: 1500px;
$mobile: 431px;
$desktop: 1025px;
$global-font:
    'Circular Std',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
$global-background-color: white;
$text-primary: #000000;
$text-secondary: #191825;
$p-text: #19182580;
$accent-color: #f85e9f;
$background-violet: #5d50c6;
$secondary-hover: #00000011;
$primary-hover: #6e62ca;
$data-primary: #ff5722;
$ellipse-primary: #facd49;
$font-primary: 'Circular Std', sans-serif;
$font-secondary: 'Inter', sans-serif;
$z-index: (
    'hamburger': 30,
    'overlay': 10,
    'menu': 20,
);
