@use '../abstract/mixin' as *;
@use '../abstract/functions';
@use '../abstract/variables';

.hero {
    @include flex-col-center;
    width: 100%;
    box-sizing: border-box;
    padding: functions.px-to-rem(20) functions.px-to-rem(35);

    &__info {
        @include flex-col-center;
    }

    &__content {
        @include flex-col-center;
        gap: functions.px-to-rem(15);
        text-align: center;
        order: 2;
    }

    &__content--highlight {
        color: variables.$accent-color;
    }

    // to make h2 heading aligned in center using width, height and font size properties
    &__content--h1 {
        margin: 0;
        max-width: functions.px-to-rem(400);
        font-size: functions.px-to-rem(40);
    }

    &__content--p {
        opacity: 0.5;
        font-size: functions.px-to-rem(16);
        font-weight: 400;
        white-space: nowrap;
        padding: functions.px-to-rem(15);
    }

    &__workbag {
        color: variables.$accent-color;
        font-weight: 700;
        display: flex;
        padding: functions.px-to-rem(15);
        gap: functions.px-to-rem(10);
        font-size: functions.px-to-rem(20);
        align-items: center;
        background-color: variables.$global-background-color;
        border-radius: functions.px-to-rem(25);
        box-shadow: 0 functions.px-to-rem(15) functions.px-to-rem(30)
            rgba(188, 187, 187, 0.35);
    }

    &__buttons {
        @include flex-col-between;
        gap: functions.px-to-rem(15);
        width: 100%;
    }

    @include media-tablet(431px) {
        padding: functions.px-to-rem(30) functions.px-to-rem(60);
        &__content--h1 {
            margin: 0;
            max-width: functions.px-to-rem(600);
            font-size: functions.px-to-rem(56);
        }

        &__content {
            gap: functions.px-to-rem(20);
        }

        &__buttons {
            @include flex-center;
            flex-direction: row;
            width: auto;
        }

        &__btn {
            padding: functions.px-to-rem(15) functions.px-to-rem(25);
        }

        &__image {
            @include flex-col-center;
        }

        &__image--img {
            max-width: 80%;
            height: auto;
            display: block;
        }
    }

    @include media-desktop(1025px) {
        padding: 0 functions.px-to-rem(130);
        &__info {
            @include flex-center;
            flex-direction: row;
        }
        &__content {
            padding: functions.px-to-rem(20) 0;
            order: 1;
            text-align: left;
            align-items: flex-start;
            gap: functions.px-to-rem(30);
        }
        &__image {
            @include flex-col-center;
            order: 2;
        }

        &__image--img {
            max-width: 100%;
        }
    }
}
