@use '../abstract/mixin' as *;
@use '../abstract/functions';
@use '../abstract/variables';

.hero {
    @include flex-col-center;
    width: 100%;
    box-sizing: border-box;

    .ellipse {
        height: functions.px-to-rem(348);
        width: functions.px-to-rem(272);
        background-color: variables.$data-primary;
        border-radius: 50%;
        filter: blur(150px);
        opacity: 0.5;
        position: absolute;
        top: functions.px-to-rem(-36);
        left: functions.px-to-rem(-36);
    }

    &__info {
        @include flex-col-center;
        padding: functions.px-to-rem(20) functions.px-to-rem(35);
    }

    &__content {
        @include flex-col-center;
        padding-top: functions.px-to-rem(60);
        gap: functions.px-to-rem(20);
        text-align: center;
        order: 2;
    }

    &__content--highlight {
        color: variables.$accent-color;
    }

    // to make h2 heading aligned in center using width, height and font size properties
    &__content--h1 {
        margin: 0;
        max-width: functions.px-to-rem(400);
        font-size: functions.px-to-rem(40);
    }

    &__content--p {
        opacity: 0.5;
        font-size: functions.px-to-rem(16);
        font-weight: 400;
        white-space: nowrap;
    }

    &__workbag {
        color: variables.$accent-color;
        display: flex;
        padding: functions.px-to-rem(15);
        gap: functions.px-to-rem(10);
        align-items: center;
        background-color: variables.$global-background-color;
        border-radius: functions.px-to-rem(25);
        box-shadow: 0 functions.px-to-rem(15) functions.px-to-rem(30)
            rgba(188, 187, 187, 0.35);
    }

    &__buttons {
        @include flex-col-between;
        gap: functions.px-to-rem(15);
        width: 100%;
        white-space: nowrap;
    }

    &__btn {
        width: 100%;
        padding: functions.px-to-rem(30);
    }

    .btn--secondary {
        border: 1px solid variables.$p-text;
    }

    &__partner {
        @include flex-center;
        flex-wrap: wrap;
        width: 100%;
        padding: functions.px-to-rem(40) functions.px-to-rem(15);
        box-sizing: border-box;
        gap: 20px;
    }

    &__partner--img {
        max-width: functions.px-to-rem(120);
        height: auto;
        width: auto;
    }

    @include media-tablet(431px) {
        &__info {
            padding: functions.px-to-rem(70);
        }

        &__content--h1 {
            margin: 0;
            max-width: functions.px-to-rem(600);
            font-size: functions.px-to-rem(56);
        }

        &__content {
            gap: functions.px-to-rem(50);
        }

        &__buttons {
            @include flex-center;
            flex-direction: row;
            width: auto;
        }

        &__btn {
            width: 100%;
            padding: functions.px-to-rem(20);
        }

        &__image {
            @include flex-col-center;
        }

        &__image--img {
            max-width: 100%;
            height: auto;
            display: block;
        }
        .btn--primary,
        .btn--secondary {
            padding-left: functions.px-to-rem(30);
            padding-right: functions.px-to-rem(30);
        }

        &__partner {
            width: 100%;
            padding: functions.px-to-rem(50) functions.px-to-rem(190);
            box-sizing: border-box;
            gap: 25px;
        }

        &__partner--img {
            max-width: functions.px-to-rem(180);
            height: auto;
            width: auto;
        }
    }

    @include media-desktop(1025px) {
        &__info {
            @include flex-center;
            flex-direction: row;
            padding: functions.px-to-rem(20) functions.px-to-rem(80);
        }
        &__content {
            padding: functions.px-to-rem(20) 0;
            order: 1;
            text-align: left;
            align-items: flex-start;
            gap: functions.px-to-rem(50);
        }
        &__content--h1 {
            max-width: functions.px-to-rem(400);
            font-size: functions.px-to-rem(69);
        }
        &__image {
            @include flex-col-center;
            order: 2;
        }

        &__image--img {
            max-width: 100%;
        }

        &__partner {
            width: 100%;
            padding: functions.px-to-rem(110) functions.px-to-rem(10);
            box-sizing: border-box;
            gap: 105px;
        }

        &__partner--img {
            height: auto;
            width: auto;
        }
    }
}
