@use '../abstract/mixin' as *;
@use '../abstract/functions';
@use '../abstract/variables';

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: functions.px-to-rem(30) functions.px-to-rem(20);
    box-sizing: border-box;

    &__logo {
        width: functions.px-to-rem(40);
        height: functions.px-to-rem(40);
    }

    &__links {
        display: none;
    }

    &__hamburger {
        @include flex-center;
        cursor: pointer;
        font-size: functions.px-to-rem(40);
        z-index: 30;
    }

    &__auth {
        display: none;
    }

    &__overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s ease;
        z-index: 10;

        &--active {
            opacity: 1;
            visibility: visible;
        }
    }
    &__menu {
        @include flex-col-center;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        background-color: variables.$global-background-color;
        z-index: 20;
        padding: functions.px-to-rem(90) functions.px-to-rem(20)
            functions.px-to-rem(20);
        gap: functions.px-to-rem(14);
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;

        &--active {
            transform: translateY(0);
        }
    }
    &__link {
        display: block;
        width: 100%;
        text-align: center;
        padding: functions.px-to-rem(10);

        &:hover {
            background-color: variables.$background-violet;
            color: variables.$global-background-color;
            transition: 0.3s ease;
        }
    }

    &__auth--mobile {
        @include flex-col-between;
        width: 100%;
        gap: functions.px-to-rem(12);
    }

    &__btn {
        cursor: pointer;
        padding: functions.px-to-rem(7);
        border-radius: functions.px-to-rem(10);
        border: none;
    }

    &__btn--login,
    &__btn--signup {
        color: variables.$global-background-color;
        background-color: variables.$background-violet;
    }

    &__auth--mobile &__btn {
        width: 100%;
    }

    @include media-tablet(431px) {
        padding: functions.px-to-rem(32) functions.px-to-rem(60);
        &__logo {
            order: 2;
        }

        &__hamburger {
            order: 1;
        }

        & > &__auth {
            @include flex-between;
            order: 3;
            gap: functions.px-to-rem(8);
            display: flex;
        }

        &__menu &__auth--mobile {
            display: none;
        }

        &__btn--login {
            @include btn-style;
            color: variables.$text-primary;
            background-color: transparent;
        }

        &__btn--signup {
            @include btn-style;
            color: variables.$global-background-color;
            background-color: variables.$background-violet;
        }
    }

    @include media-desktop(1025px) {
        padding: functions.px-to-rem(65) functions.px-to-rem(130);

        &__hamburger {
            display: none;
        }

        &__links {
            order: 2;
            width: functions.px-to-rem(428);
            height: functions.px-to-rem(17);
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: functions.px-to-rem(14);
            font-weight: 700;
        }

        &__menu {
            display: none;
        }
    }
}
