@use '../abstract/mixin' as *;
@use '../abstract/functions';
@use '../abstract/variables';

.travel {
    @include flex-col-center;
    width: 100%;
    padding: functions.px-to-rem(90) 0;
    gap: functions.px-to-rem(35);

    &__info {
        @include flex-col-between;
        gap: functions.px-to-rem(32);
        padding: 0 functions.px-to-rem(32);
        text-align: center;
    }

    &__header {
        @include flex-col-center;
        gap: functions.px-to-rem(28);
    }

    &__header--travelpoint {
        font-size: functions.px-to-rem(16);
        color: variables.$accent-color;
    }

    &__header--heading {
        font-size: functions.px-to-rem(30);
    }

    &__header--para {
        font-size: functions.px-to-rem(16);
        color: variables.$p-text;
    }

    &__image {
        width: 100%;
    }

    &__image--img {
        width: 100%;
        height: auto;
        display: block;
    }

    @include media-tablet(431px) {
        gap: functions.px-to-rem(75);
        &__info {
            padding: 0 functions.px-to-rem(65);
            gap: functions.px-to-rem(64);
        }

        &__header--travelpoint {
            font-size: functions.px-to-rem(23);
        }

        &__header--heading {
            font-size: functions.px-to-rem(39);
        }

        &__header--para {
            font-size: functions.px-to-rem(18);
        }

        &__image {
            padding: 0;
            @include flex-col-center;
            align-items: flex-start;
        }

        &__image--img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }

    @include media-desktop(1025px) {
        @include flex-between;
        flex-direction: row;
        padding: functions.px-to-rem(30) functions.px-to-rem(70)
            functions.px-to-rem(30) 0;
        gap: 0;

        &__info {
            padding: 0;
            text-align: left;
        }

        &__header {
            align-items: flex-start;
        }

        &__header--heading {
            font-size: functions.px-to-rem(44);
        }

        &__image {
            flex: 1.75;
        }

        &__info {
            flex: 1;
        }
    }
}
