// Defines global base styles for the page such as smooth scrolling,
// body background, image behavior, and menu scroll locking.

@use '/src/styles/abstract/variables';

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: variables.$global-background-color;
    color: variables.$text-primary;
    max-width: variables.$max-screen-width;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.body--menu-open {
    overflow: hidden;
}
