// Defines default typography styles for headings, paragraphs, links,
// and reusable text classes based on the project design system.

@use '/src/styles/abstract/_variables.scss';
@use '/src/styles/abstract/_functions.scss';
@use '/src/styles/abstract/_mixin.scss';

body {
    font-family: variables.$font-primary;
}

a {
    text-decoration: none;
    font-weight: 700;
    font-size: functions.px-to-rem(14);
    line-height: 120%;
}

p {
    font-family: variables.$font-secondary;
    font-weight: 400;
    font-size: functions.px-to-rem(18);
    line-height: 160%;
}

.primary-text {
    font-family: variables.$font-primary;
    font-weight: 700;
    font-size: functions.px-to-rem(14);
    line-height: 120%;

    @include mixin.respond('desktop') {
        font-size: functions.px-to-rem(16);
    }
}

.secondary-text {
    font-weight: 400;
    font-size: functions.px-to-rem(23);
}

.heading-primary {
    font-size: functions.px-to-rem(40);
    @include mixin.respond('tablet') {
        font-size: functions.px-to-rem(56);
    }
    @include mixin.respond('desktop') {
        font-size: functions.px-to-rem(69);
    }
}

.heading-secondary {
    font-size: functions.px-to-rem(30);
    @include mixin.respond('tablet') {
        font-size: functions.px-to-rem(39);
    }
    @include mixin.respond('desktop') {
        font-size: functions.px-to-rem(44);
    }
}

.text-xs {
    font-size: functions.px-to-rem(16);
    @include mixin.respond('tablet') {
        font-size: functions.px-to-rem(23);
    }
}

.text-sm {
    font-size: functions.px-to-rem(16);
    font-weight: 400;
    @include mixin.respond('tablet') {
        font-size: functions.px-to-rem(18);
    }
}

.text-md {
    font-size: functions.px-to-rem(18);
}

.icon-md {
    font-size: functions.px-to-rem(20);
}

.display-sm {
    font-size: functions.px-to-rem(35);
}

h1 {
    font-family: variables.$font-primary;
    font-weight: 700;
    font-size: functions.px-to-rem(69);
    line-height: 120%;
}

h2 {
    font-family: variables.$font-primary;
    font-weight: 700;
    font-size: functions.px-to-rem(44);
    line-height: 120%;
}

h3 {
    font-family: variables.$font-primary;
    font-weight: 700;
    font-size: functions.px-to-rem(44);
    line-height: 120%;
}

h4 {
    font-family: variables.$font-primary;
    font-weight: 900;
    font-size: functions.px-to-rem(24);
    line-height: functions.px-to-rem(40);
}

h5 {
    font-family: variables.$font-primary;
    font-weight: 700;
    font-size: functions.px-to-rem(28);
    line-height: 120%;
}

h6 {
    font-family: variables.$font-primary;
    font-weight: 700;
    font-size: functions.px-to-rem(23);
    line-height: 120%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
